@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    ::-webkit-scrollbar{
        width: 0;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:-focus {
        transition: background-color 0s 600000s, color 0s 600000s;
    }
    .btn {
        @apply text-white bg-base-green block py-2 rounded-md px-8 font-semibold text-lg hover:bg-green-700;
        
        &.btn-gray {
            @apply bg-base-gray-light hover:bg-base-gray;
        }
    }
}